<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="fontawesome.min.css" rel="stylesheet" type="text/css">
    <title>blog app</title>
</head>
<body>

        <nav class="nav-expand-sm fixed-navbar navbar-dark bg-dark">
                <div class="px-0 navbar-wrap mb-2">
                    <div class="container">
                          <div class="row">
                              <div class="col-md-12">
                                  <nav class="navbar px-0 navbar-expand-lg">
                                      <i class="fas fa-assistive-listening-systems"></i>
                                    <a class="navbar-brand soft" href="#">blogSOFT</a>
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                                      <span class="oi oi-menu"></span>
                                    </button>
                                    <div class="collapse navbar-collapse" id="navbarsExample03">
                                      <ul class="navbar-nav m-auto alto">
                                        <li class="nav-item d-flex active">
                                          <a class="nav-link d-flex align-items-center" href="#"> home <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item d-flex">
                                          <a class="nav-link d-flex align-items-center" href="#"> new post </a>
                                        </li>
                                        <li class="nav-item d-flex">
                                          <a class="nav-link d-flex align-items-center" href="#"> categories </a>
                                        </li>
                                      </ul>
                                    </div>
                                  </nav>
                              </div>
                          </div>
                      </div>
                  </div>
            </nav>
            


    <h1>index page</h1>
    <% blogs.forEach(function(blog){ %>
        <div>
            <h2> <%= blog.title %> </h2>
            <img src="<%= blog.image %>">
            <span> <%= blog.created %> </span>
            <p> <%= blog.body %>  </p>
            <a href="/blogs/<%= blog._id %>">Read More</a>
        </div>
    <% }) %>
</body>
</html>
